[Unit]
Description=Klipper host service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/share/klipper
ExecStart=/usr/bin/python3 /usr/share/klipper/klippy/klippy.py /etc/klipper/printer.cfg -l /tmp/klippy.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
